## Get Started with Text Mining

In [2]:
# Let us take text1
text1 = "Ethics are built right into the ideals and objectives of the United Nations"

In [3]:
# find out number of characters in text1
len(text1)

75

In [7]:
# find out the number of words
text2 = text1.split(' ')
print(text2)
print('\n')
print(len(text2))

['Ethics', 'are', 'built', 'right', 'into', 'the', 'ideals', 'and', 'objectives', 'of', 'the', 'United', 'Nations']


13

In [16]:
# find words in text1 which are 3 letters long
print([w for w in text2 if len(w) > 3])
print('\n')
# find words in text1 which are less than 4 letters
print([w for w in text2 if len(w) < 4])
print('\n')
# find capatilized words in text1
print([w for w in text2 if w.istitle()])
print('\n')
# find words in text1 which ends with 's'
print([w for w in text2 if w.endswith('s')])

['Ethics', 'built', 'right', 'into', 'ideals', 'objectives', 'United', 'Nations']


['are', 'the', 'and', 'of', 'the']


['Ethics', 'United', 'Nations']


['Ethics', 'ideals', 'objectives', 'Nations']

In [19]:
# lets consider another text
text3 = 'To be or not to be'
# find unique words in text3 and the number of unique words
text4 = text3.split(' ')
print(set([w.lower() for w in text4])) # set is used to find unique words
print('\n')
# number of unique words
print(len(set([w.lower() for w in text4])))

{'be', 'not', 'or', 'to'}


4

In [21]:
# finding number of unique words in text1 and name them
print(set([w.lower() for w in text2]))
print('\n')
print(len(set([w.lower() for w in text2])))

{'ethics', 'are', 'into', 'ideals', 'and', 'built', 'nations', 'the', 'united', 'right', 'objectives', 'of'}


12

In [43]:
# let us consider another text
text5 = 'ouagadougou'
# split is using 'ou'
text6 = text5.split('ou')
print(text6)
print('\n')
# lets rejoin them
print(('ou'.join(text6)))
print('\n')
# Split word into characters
print(list(text5))

['', 'agad', 'g', '']


ouagadougou


['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

In [3]:
# Cleaning of text
text8 = '    A quick brown fox jumped over the lazy dog.'
print(text8)
print('\n')
# split the text
print(text8.split(' '))
print('\n')
# Removing white spaces
text9 = text8.strip()
print(text9)
print('\n')
print(text9.split(' '))

    A quick brown fox jumped over the lazy dog.


['', '', '', '', 'A', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog.']


A quick brown fox jumped over the lazy dog.


['A', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog.']

In [6]:
# Finding a particular letter in text9
print(text9.find('o'))
print('\n')
# finding the letter from the last
print(text9.rfind('o'))
print('\n')
# Replacing the letter 'o' with 'O' in text 9
print(text9.replace('o', 'O'))

10


40


A quick brOwn fOx jumped Over the lazy dOg.

In [18]:
## Handling Files
f = open('eng.txt', 'r')
text10 = f.readline()
print(text10)

Universal Declaration of Human Rights

In [19]:
# Reading full file
f.seek(0)
text12 = f.read()
print(len(text12))
print('\n')
text13 = text12.splitlines()
print(len(text13))
print('\n')
print(text13[0])

10910


90


Universal Declaration of Human Rights

In [32]:
text14 =  text12.strip()
# finding number of unique words in text14
text15 = text14.split(' ')
print(len(text15))
print('\n')
text16 = [w.lower() for w in text15]
text17 = set(text16)
text18 = len(text17)
print(text18)

1867


612

### Regular Expressions

In [33]:
# Let us consider a tweet
text20 = '"Ethics are built right into the ideals and objectives of the United Nations" #UNSG @ NY Society for Ethical Culture bit.ly/2guVelr @UN @UN_Women'
print(text20)

"Ethics are built right into the ideals and objectives of the United Nations" #UNSG @ NY Society for Ethical Culture bit.ly/2guVelr @UN @UN_Women

In [34]:
text21 = text20.split(' ')

In [38]:
# find all hashtags
text22 = [ w for w in text21 if w.startswith('#')]
print(text22)

['#UNSG']

In [40]:
#find all Callouts
import re
text23 = [ w for w in text21 if re.search('@[A-Za-z0-9_]+', w)]
print(text23)

['@UN', '@UN_Women']

In [46]:
# find all the vowels in text5
print(re.findall(r'[aeiou]', text5))
print('\n')
# find letters which are not vowels and present in text5
print(re.findall(r'[^aeiou]', text5))

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u']


['g', 'd', 'g']

### Working with Text Data in pandas

In [58]:
import pandas as pd

time_sentences = ["Monday: the doctor's appointment is at 2:45pm.",
            "Tuesday: The dentist's appointment is at 11:30 am.",
            "Wednesday: At 7:00pm, there is a basketball game!",
            "Thursday: Be back dome by 11:15 pm at the latest.",
            "Friday: Take the train at 08:10 am, arrive at 09:00am."]
df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: the doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back dome by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [59]:
# Number of chareacters in each string
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [60]:
# Number of words in each string
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [63]:
# Check which entries contain the world appointment
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [64]:
# Find the nuber of occurances of a digit in each string
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [65]:
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [66]:
# Extracting out hours and minutes in each string
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [69]:
# Replace weekdays with '???'
df['text'].str.replace(r'\w+day', '???')

0          ???: the doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back dome by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [72]:
# Replace with first 3 letters of weekdays
df['text'].str.replace(r'(\w+day)', lambda x: x.groups()[0][:3])

0          Mon: the doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back dome by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [76]:
# Extract hours and minutes in form of dataframe
df['text'].str.extract(r'(\d?\d):(\d?\d)', expand = True)
# This only return first match

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [77]:
# To extract all use extractall
df['text'].str.extractall(r'((\d?\d):(\d?\d) ?(am|pm))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [78]:
# Name the colums of the above Dataframe
df['text'].str.extractall(r'(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m)')

        hour minute period
  match
0 0        2     45     pm
1 0       11     30     am
2 0        7     00     pm
3 0       11     15     pm
4 0       08     10     am
  1       09     00     am

## Get Started with NLTK

In [1]:
import nltk
from nltk.book import *

*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

In [2]:
# Have a look at text9
text9

In [3]:
# Have a look at sentences
sents()

sent1: Call me Ishmael .
sent2: The family of Dashwood had long been settled in Sussex .
sent3: In the beginning God created the heaven and the earth .
sent4: Fellow - Citizens of the Senate and of the House of Representatives :
sent5: I have a problem with people PMing me to lol JOIN
sent6: SCENE 1 : [ wind ] [ clop clop clop ] KING ARTHUR : Whoa there !
sent7: Pierre Vinken , 61 years old , will join the board as a nonexecutive director Nov. 29 .
sent8: 25 SEXY MALE , seeks attrac older single lady , for discreet encounters .
sent9: THE suburb of Saffron Park lay on the sunset side of London , as red and ragged as a cloud of sunset .

In [6]:
print(sent7)
print('\n')
print(len(sent7))

['Pierre', 'Vinken', ',', '61', 'years', 'old', ',', 'will', 'join', 'the', 'board', 'as', 'a', 'nonexecutive', 'director', 'Nov.', '29', '.']


18

In [8]:
print(len(text7))
# Unique words
print('\n')
print(len(set(text7)))

100676


12408

In [11]:
# First 20 words from text7
print(list(set(text7))[:20])

['Desai', 'stockpiles', 'Ringers', 'merit', 'notion', 'something', 'partners', 'limbo', 'insists', 'check', 'gunship', 'fear', 'index-arbitrage', 'assembly', 'neighbors', 'skidded', 'Namibia', '*-118', 'Islamabad', 'possessed']

In [15]:
# Frequency of words
dist = FreqDist(text3)
print(len(dist))

2789

In [24]:
vocab1 = dist.keys()

In [26]:
freqwords = [w for w in vocab1 if len(w) > 5 and dist[w] > 100]
freqwords

['father', 'Abraham', 'Joseph']

In [30]:
## Stemming
input1 = "List listed lists listing listings"
words1 = input1.lower().split(' ')
print(words1)
print('\n')
porter = nltk.PorterStemmer()
print([porter.stem(w) for w in words1])

['list', 'listed', 'lists', 'listing', 'listings']


['list', 'list', 'list', 'list', 'list']

In [33]:
# Lemmatization : Do stemming but stems are all valid words
udhr =  nltk.corpus.udhr.words('English-Latin1')
udhr1 = udhr[:20]
print(udhr1)
print('\n')
lemma = nltk.WordNetLemmatizer()
print([lemma.lemmatize(w) for w in udhr1])

['Universal', 'Declaration', 'of', 'Human', 'Rights', 'Preamble', 'Whereas', 'recognition', 'of', 'the', 'inherent', 'dignity', 'and', 'of', 'the', 'equal', 'and', 'inalienable', 'rights', 'of']


['Universal', 'Declaration', 'of', 'Human', 'Rights', 'Preamble', 'Whereas', 'recognition', 'of', 'the', 'inherent', 'dignity', 'and', 'of', 'the', 'equal', 'and', 'inalienable', 'right', 'of']

In [36]:
# Tokenization
text31 = "Children shouldn't drink a sugary drink before bed."
text32 = text31.split(' ')
print(text32)
print('\n')
# That's why we use tokenization
text33 = nltk.word_tokenize(text31)
print(text33)

['Children', "shouldn't", 'drink', 'a', 'sugary', 'drink', 'before', 'bed.']


['Children', 'should', "n't", 'drink', 'a', 'sugary', 'drink', 'before', 'bed', '.']

In [37]:
# Sentence Splitter
text34 ="This is the first sentence. A gallon of milk in the U.S. costs $2.99. Is this the third sentence? Yes, it is!"
print(text34)
print('\n')
sentences = nltk.sent_tokenize(text34)
print(len(sentences))
print('\n')
print(sentences)

This is the first sentence. A gallon of milk in the U.S. costs $2.99. Is this the third sentence? Yes, it is!


4


['This is the first sentence.', 'A gallon of milk in the U.S. costs $2.99.', 'Is this the third sentence?', 'Yes, it is!']

In [1]:
import nltk

In [2]:
nltk.help.upenn_tagset('MD')

MD: modal auxiliary
    can cannot could couldn't dare may might must need ought shall should
    shouldn't will would

In [3]:
nltk.help.upenn_tagset('CC')

CC: conjunction, coordinating
    & 'n and both but either et for less minus neither nor or plus so
    therefore times v. versus vs. whether yet

In [4]:
text51 = "Children shouldn't drink a sugary drink before bed."

In [5]:
text52 = nltk.word_tokenize(text51)

In [7]:
print(text52)

['Children', 'should', "n't", 'drink', 'a', 'sugary', 'drink', 'before', 'bed', '.']

In [10]:
text53 =nltk.pos_tag(text52)
print(text53)

[('Children', 'NNP'), ('should', 'MD'), ("n't", 'RB'), ('drink', 'VB'), ('a', 'DT'), ('sugary', 'JJ'), ('drink', 'NN'), ('before', 'IN'), ('bed', 'NN'), ('.', '.')]

In [11]:
# Ambiguity in POS Tagging
text54 = "Visiting aunts can be a nuisance"
text55 = nltk.word_tokenize(text54)
text56 = nltk.pos_tag(text55)
print(text56)

[('Visiting', 'VBG'), ('aunts', 'NNS'), ('can', 'MD'), ('be', 'VB'), ('a', 'DT'), ('nuisance', 'NN')]

In [12]:
# Parsing Sentence Structure
text57 = "Alice loves Bob"
text58 = nltk.word_tokenize(text57)
print(text58)

['Alice', 'loves', 'Bob']

In [13]:
text59 = nltk.pos_tag(text58)
print(text59)

[('Alice', 'NNP'), ('loves', 'VBZ'), ('Bob', 'NNP')]

In [14]:
# We can also defined the grammar by own
grammar = nltk.CFG.fromstring("""S -> NP VP
                                VP -> V NP
                                NP -> 'Alice' | 'Bob'
                                V -> 'loves'""")

In [16]:
parser = nltk.ChartParser(grammar)

In [20]:
trees = parser.parse_all(text58)
for tree in trees:
    print(tree)

(S (NP Alice) (VP (V loves) (NP Bob)))

In [22]:
# Ambiguity in Parsing
text60 = "I saw the man with a telescope"
text61 = nltk.word_tokenize(text60)
text62 = nltk.pos_tag(text61)
print(text62)

[('I', 'PRP'), ('saw', 'VBD'), ('the', 'DT'), ('man', 'NN'), ('with', 'IN'), ('a', 'DT'), ('telescope', 'NN')]

In [23]:
# We can also define the grammer by own of text60
grammar_text60 = nltk.CFG.fromstring("""S -> NP VP
                                        VP -> V NP | VP PP
                                        PP -> P NP
                                        NP -> DT N | DT N PP | 'I'
                                        DT -> 'a' | 'the'
                                        N -> 'man' | 'telescope'
                                        V -> 'saw'
                                        P -> 'with'""")

In [24]:
parser_text60 = nltk.ChartParser(grammar_text60)

In [26]:
trees_text60 =parser_text60.parse_all(text61)
for tree_text60 in trees_text60:
    print(tree_text60)

(S
  (NP I)
  (VP
    (VP (V saw) (NP (DT the) (N man)))
    (PP (P with) (NP (DT a) (N telescope)))))
(S
  (NP I)
  (VP
    (V saw)
    (NP (DT the) (N man) (PP (P with) (NP (DT a) (N telescope))))))

In [27]:
# Parse Tree Collection
from nltk.corpus import treebank
text71 = treebank.parsed_sents('wsj_0001.mrg')[0]
print(text71)

(S
  (NP-SBJ
    (NP (NNP Pierre) (NNP Vinken))
    (, ,)
    (ADJP (NP (CD 61) (NNS years)) (JJ old))
    (, ,))
  (VP
    (MD will)
    (VP
      (VB join)
      (NP (DT the) (NN board))
      (PP-CLR (IN as) (NP (DT a) (JJ nonexecutive) (NN director)))
      (NP-TMP (NNP Nov.) (CD 29))))
  (. .))

#### Text Classification

##### Topic identification : Is this news article about Politics, Sports, or Technology?
##### Spelling Correction: weather or whether? / color or colour? 
##### Sentiment analysis: Is this movie review positive or negative?

##### Types of Text Features
Words (STOP WORDS : Are commonly occuring word like 'the', 'a',
       Normalization : Make lower case vs leave as-is like 'us' or 'US')
 Characteristics of words: Capatilization,
 Part of speech of words in a sentence